#face{
    border: 3px solid;
    height: 350px;
    width: 350px;
    background-color: yellow;
    border-radius: 50%;


}
#eye-container{
    position: absolute;
    /*border: 1px solid black;*/
    width: 250px;
    height: 100px;
    top: 200px;
    left: 560px;


}
#left-eye,#right-eye{
    border: 1px solid black;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: black;

}
#right-eye{
    left: 150px;
    transition: transform 1.5s ease-in-out;
}
#left-eye::before,#right-eye::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50;
    top: 35px;
    left: 35px;

}
#mouth{
    position: absolute;
    border: 1px solid black;
    height: 80px;
    width: 150px;
    background-color: black;
    top: 350px;
    left: 610px;
    transition: transform 1.5s ease-in-out;

border-radius: 10px 10px 100px 100px;
}
#right-eye:hover{
    transform: scale(0);

}
#mouth:hover{
    transform: scale(0);
}

#left-eye:hover{
    transform: scale(0);
    transition: transform 1.5s ease-in-out;
}
h1{
    background-color: aqua;
    border-radius: 20px;
}
body{
    text-align: center;
    background-color: black;
}